*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    overflow-x: hidden;
}
ul{
    list-style: none;
}